<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>edit Product</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>edit Product</h1>
    <form th:action="@{/admin/products/edit}" th:object="${product}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{username}">
        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="*{password}">
        <!-- <div class="col-6 mb-3">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" type="text" th:field="*{title}" id="title">
        </div>

        


        <div class="col-6 mb-3">
            <label class="form-label" for="price">Price:</label>
            <input class="form-control" type="text" th:field="*{price}" id="price">
        </div>
        <div class="col-6 mb-3">
            <label class="image" for="image">image:</label>
            <img class="form-control" th:src="@{/images/} + *{image}" />
            <input class="form-control" type="file" id="image" name="imageProduct" accept="image/png,image/jpeg">

        </div> -->

        <div class="col-6 mb-3">
            <label class="form-label" for="user">Category:</label>
            <select class="form-control" name="roles.user_id" id="user">

                <option th:each="user : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == product.category.id}"></option>
            </select>


        </div>
        <input type="submit"  value="Save">
    </form>
    <br>
    <a th:href="@{/admin/products/list}">Back to List</a>
</div>
<th:block th:replace="layout :: footer" ></th:block>
</body>
</html>