<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 ">
<head>
  <meta charset="UTF-8">
  <title>My Order List</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text=${title}></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Products Quantity</th>
      <th>Status</th>
      <th>Total Money</th>
      
      <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
    </tr>
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td th:text="${order.psQuantity}"></td>
      <td>
        <span th:switch="${order.status}">
            <span th:case="0">chưa đặt hàng</span>
            <span th:case="1">đã đặt hàng</span>
            <span th:case="2">đã thanh toán</span>
        </span>
    </td>
      
      <td th:text="${order.SumPrice}"></td>
      <td sec:authorize="hasAnyAuthority('ADMIN')">
        <!-- <a th:href="@{/admin/orders/detail/{id}(id=${order.id})}">Detail</a> -->
        <a th:href="@{/admin/orders/dpdatestatus/{id}(id=${order.id})}">Edit</a>
        <a th:href="@{/admin/products/delete/{id}(id=${order.id})}"
           onclick="return confirm('Are you sure?')">Delete</a>

      </td>
    </tr>
  </table>
</div>
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<script th:inline="javascript">
  function deleteProduct(link){
    if(confirm('Are you sure?')){
      $.ajax({
        url:$(link).attr('href'),
        type:'DELETE',
        success: result=>{
          if(!result.success){
            alert(result.message);
            }
          else{
            $(link).parent().parent().remove();
          }
         }

        });
    }
  }

</script>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>